.horizontal-list {
	height: 50px;
	white-space: nowrap;

	.filter-item {
		height: 40px;
	}

	.active-filter {
		font-style: italic;
		font-weight: bold;
	}
}

.distance {
	position: absolute;
	right: 15px;
}
