<form class="as-form" role="form" novalidate [formGroup]="form" (ngSubmit)="save()">
	<div class="as-form-header">
		<mat-toolbar>
			<mat-toolbar-row>
				<button type="button" mat-icon-button  *ngIf="parentType" (click)="back()">
					<mat-icon class="mat-24">arrow_back</mat-icon>
				</button>
				<span>{{item?.title}}</span>
				<span class="spacer"></span>
			</mat-toolbar-row>

			<mat-toolbar-row>
				<span class="spacer"></span>
				<button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || !form.dirty">Save</button>
				<button type="button" mat-button [disabled]="!form.dirty && itemId" (click)="cancel()">Cancel</button>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>


	<div class="as-form-scroll">
		<formly-form *ngIf="item" [model]="item" [fields]="fields" [form]="form"></formly-form>
	</div>
</form>
