<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

        <ion-title>Catalog</ion-title>

        <ion-buttons slot="end" *ngIf="catalog.pdf">
            <ion-button (click)="openPdf()">
                <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager>
        <ion-slide *ngFor="let picture of catalog.pictures">
            <img [src]="picture.url">
        </ion-slide>
    </ion-slides>

    <div class="ion-padding">
        <h2>{{catalog.title}}</h2>
        <div class="ion-text-right">{{catalog.price}}</div>
        <p>{{catalog.body}}</p>
    </div>

    <div class="ion-padding-horizontal">
        <ion-button class="item-button" color="primary" expand="block" (click)="open()" *ngIf="catalog.url">
            <ion-icon name="link" slot="icon-only"></ion-icon>
            View online
        </ion-button>

        <ion-button class="item-button" color="primary" expand="block" (click)="openPdf()" *ngIf="catalog.pdf">
            <ion-icon name="document" slot="icon-only"></ion-icon>
            Download PDF
        </ion-button>
    </div>
</ion-content>
