<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

        <ion-title>Product</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="buyNow()">
                <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager>
        <ion-slide *ngFor="let picture of product.pictures">
            <img [src]="picture.url">
        </ion-slide>
    </ion-slides>

    <div class="ion-padding">
        <h2>{{product.title}}</h2>
        <div class="ion-text-right">{{product.price}}</div>
        <p>{{product.body}}</p>
    </div>

    <ion-button class="item-button ion-padding-horizontal" color="primary" expand="block" (click)="buyNow()">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
        Buy now
    </ion-button>
</ion-content>
