@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);
$background: mat-palette($mat-grey);

$theme: mat-light-theme($primary, $accent);

$padding: 20px;

@include angular-material-theme($theme);