.review-date {
	position: absolute;
	right: 20px;
	top: 15px;
	font-style: italic;
}

div.review-rating {
	text-align: right;
	ul.rating {
		display: inline;
		li {
			display: inline;
			padding-left: 5px;
		}
	}
}

div.set-rating {
	ul.rating {
		display: inline;
		li {
			display: inline;
			padding-left: 5px;
			font-size: 30px;
		}
	}
	span {
		vertical-align: super;
		font-style: italic;
	}
}